.contenido{
    align-items: center;
    margin: 20px;
    width: 40px;
}
.circulo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
}
.cuadrado{
        width: 100px;
        height: 100px;
}